:root {
    --green0: #8cd790;
    --green1: #0EC075;
    --green2: #b9dcc5;
    --green3: #006a38;
    --green4: #9aba6a;
    --green5: #ccd3a4;
    --green6: #d5ded7;
    --gray1: #3a4443;
    --gray2: #d0cbc3;
    --gray3: #c7c7c7;
    --gray4: #f6f4f4;
    --gray5: #E4E2E0;
    --gray6: #3A4443;
}