@font-face {
     src: url(../fonts/arla_fonts/ArlaInterFace-Regular.ttf);
     font-family: Arla inertface;
}

#survey {
     font-family: Arla inertface;
     overflow: hidden;
     position: fixed;
     top: 0;
     /* change it to 100% */
     left: 100%;
     width: 100%;
     height: 100vh;
     background-color: #F9F9F9;
     display: block;
     transition: left .5s ease-in-out;
}

#survey.active {
     left: 0;
}

#survey .intro {
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     background-color: #F9F9F9;
     z-index: 5;
}

.intro span {
     display: flex;
     margin-left: 10px;
     margin-top: 20px;
     align-items: center;
     position: absolute;
}

.intro span i,
.intro span p {
     font-size: 5vw;
}

.intro span p {
     margin: 0;
     margin-left: 10px;
     font-family: Arla inertface;
}

.intro img {
     width: 50%;
     margin-top: 7vh;
     align-self: center;
}

.intro h2 {
     text-align: center;
     font-weight: 500;
     font-size: 9vw;
}

.intro>p {
     width: 80%;
     text-align: center;
     align-self: center;
}

.intro button {
     width: 150px;
     height: 50px;
     font-weight: 500;
     align-self: center;
     margin-top: 20px;
     background-color: transparent;
     outline: none;
     border: 1px solid #2D3E3E;
     border-radius: 7px;
}

.form {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #F9F9F9;
     z-index: 4;
}

.form img {
     width: 50%;
     margin-top: 7vh;
}

.progress-container {
     width: 70%;
     height: 50px;
     margin: 2vh 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 5px;
     position: relative;
}

.progress-container:after {
     content: " ";
     width: 80%;
     height: 4px;
     background-color: rgb(226, 226, 226);
     position: absolute;
     z-index: 1;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}

.progress-container .steps {
     height: 40px;
     width: 40px;
     border-radius: 50%;
     box-shadow: -1px 3px 0px 0px rgba(0, 0, 0, 0.05);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 16px;
     z-index: 2;
     background-color: rgb(255, 255, 255);
     transition: all .3s ease;
}

.progress-container .steps.completed {
     background-color: var(--green1);
     color: white;
     position: relative;
}

.progress-container .steps.completed:after {
     content: " ";
     position: absolute;
     height: 4px;
     width: 200%;
     background-color: var(--green1);
     left: 100%;
     top: 50%;
     transform: translateY(-50%);
}

.progress-container .steps.completed:nth-of-type(3):after {
     width: 0;
}

.questions {
     width: 65%;
     font-family: Arla inertface;
     position: relative;
     height: 37vh;
}

.questions .category {
     position: absolute;
     width: 100%;
     height: 100%;
     opacity: 0;
     transition: all .3s ease;
}

.questions .category.completed {
     opacity: 1;
}

.questions .category h2 {
     margin: 0;
     padding: 0;
     text-align: center;
     font-weight: 100;
     margin: 1vh 0;
     font-family: Arla inertface;
}

.questions label {
     font-size: 18px;
}

.questions .category>div {
     width: 100%;
     height: 25px;
     position: relative;
     margin: 1.5vh 0 4vh 0;
}

.questions>div input {
     width: 100%;
     height: 35px;
     padding: 0;
     margin: 0;
     border: none;
     box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.1);
     font-size: 18px;

}

.questions>div input:focus {
     outline: 1px solid black;
}

.questions>div i {
     position: absolute;
     left: 105%;
     top: 50%;
     transform: translateY(-50%);
}

.button-container {
     width: 65%;
     display: flex;
     justify-content: space-between;
}

.button-container button {
     width: 30%;
     height: 35px;
     background-color: #fff;
     border: 1px solid black;
     outline: none;
     transition: all .3s ease;
}

.button-container button:hover {
     border: 0;
     color: var(--green1);
}

.form p {
     font-weight: 500;
     text-decoration: underline;
     margin-top: 3vh;
}

.great-success {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 1;
     display: flex;
     flex-direction: column;
     font-family: Arla inertface;
     display: none;
     background-color: #F9F9F9;
}

.great-success h2 {
     text-align: center;
     margin: 0;
     font-weight: 200;
     margin: 1vh 0;
     font-size: 40px;
     margin-top: 35vh;
}

.great-success h3 {
     text-align: center;
     margin: 0;
     font-weight: 200;
     font-size: 20px;
}

.great-success button {
     width: 100px;
     padding: 8px 0;
     color: white;
     background-color: var(--green1);
     border: 0;
     outline: none;
     align-self: center;
     margin-top: 5vh;
     cursor: pointer;
}

.great-success img {
     margin-top: 7vh;
     width: 70%;
     object-fit: contain;
     align-self: center;
}

.finish-later {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 2;
     display: flex;
     flex-direction: column;
     font-family: Arla inertface;
     display: none;
     background-color: #F9F9F9;
     justify-content: center;
     align-items: center;
}

.finish-later>div {
     width: 70%;
     height: 35%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     font-family: Arla inertface;
     background-color: #fff;
     box-shadow: -1px 3px 7px 0px rgba(0, 0, 0, 0.1);
}

.finish-later h2 {
     text-align: center;
     margin: 0;
     font-weight: 200;
     margin: 2vh 0;
     font-size: 28px;
}

.finish-later h3 {
     text-align: center;
     margin: 0;
     font-weight: 200;
     font-size: 18px;
}

.finish-later a {
     margin-top: 7vh;
     color: #000;
}

.survey-container {
     width: 95%;
     height: 77%;
     margin: 10px;
     font-family: Arla inertface;
     padding: 0;
}

.text-wrapper-survey {
     width: 100%;
     font-family: Arla inertface;
     margin: 35px 0;
}

.text-wrapper-survey p {
     padding: 0;
     margin: 0;
     font-size: 16px;
     font-weight: 300;
     text-align: center;
}

.text-wrapper-survey p:nth-of-type(2) {
     font-size: 25px;
     margin: 10px 0;
}

.survey-progressbar {
     width: calc(100% - 20px);
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 10px;
     border-radius: 8px;
     height: 40px;
     position: relative;
     overflow: hidden;
     border: 1px solid var(--gray5);}

.survey-progressbar .fill {
     position: absolute;
     left: 0;
     top: 0;
     width: 0;
     height: 100%;
     background-color: var(--green1);
     transition: all .3s .4s ease;
}

.survey-progressbar p {
     position: absolute;
     font-weight: 600;
     font-size: 18px;
     position: absolute;
     top: -7px;
     left: 50%;
     transform: translateX(-50%);
}

@media only screen and (min-width:600px) {
     .intro span {
          margin-left: 20px;
     }

     .intro span i,
     .intro span p {
          font-size: 1.2vw;
     }

     .intro img {
          width: 10%;
          margin-top: 150px;
     }

     .intro h2 {
          font-size: 4vw;
     }

     .intro>p {
          width: 40%;
          font-size: 1.2vw;
     }

     .intro button {
          width: 200px;
          cursor: pointer;
          transition: all .3s ease;
     }

     .intro button:hover {
          background-color: white;
          color: var(--green1);
          border: 0;
     }

     .form img {
          width: 10%;
          margin-top: 150px;
     }

     .progress-container {
          width: 30%;
          height: 60px;
          margin: 4vh 0;
     }

     .progress-container .steps {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          box-shadow: -1px 3px 0px 0px rgba(0, 0, 0, 0.15);
          margin: 0 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 22px;
     }

     .progress-container .steps.completed:after {
          width: 350%;
     }

     .questions {
          width: 25%;
          height: 30vh;
     }

     .questions label {
          font-size: 22px;
     }

     .questions .category>div {
          height: 45px;
     }

     .questions>div input {
          height: 45px;
     }

     .button-container {
          width: 25%;
     }

     .button-container button {
          height: 50px;
          font-size: 20px;
          cursor: pointer;
     }

     .form p {
          font-size: 20px;
          cursor: pointer;
          margin-top: 4vh;
     }

     .great-success h2 {
          margin-top: 37vh;
          font-size: 70px;
     }

     .great-success h3 {
          font-size: 32px;
     }

     .great-success button {
          width: 150px;
          padding: 12px 0;
          font-size: 20px;
     }

     .great-success img {
          align-self: flex-start;
          margin-top: 0;
          width: 20%;
     }

     .finish-later>div {
          width: 30%;
          height: 38%;
     }

     .finish-later>div h2 {
          font-size: 36px;
     }

     .finish-later>div h3 {
          font-size: 20px;
     }

     .finish-later>div a {
          font-size: 18px;
     }

     .survey-progressbar {
          height: 40px;
          margin-top: 15px;
     }
}